<div class="container">
    <div class="row">
      <%= link_to 'New Post Image', new_post_image_path %>
    <p id="notice"><%= notice %></p>

    <% @post_images.each do |post_image| %>
      <div class="flex">
        <div class="post-header">
          <div class="username-location">
            <strong><%= post_image.user.name %></strong><br>
            <span class="glyphicon glyphicon-map-marker"></span> <%= post_image.location %>

            <%= link_to (post_image) do %>
              <i class="fas fa-ellipsis-h option-dot"></i>
            <% end %>
          </div>
        </div>

        <div class="posted-content">
          <%= attachment_image_tag post_image, :image, :fill, 598, 598 %>
        </div>

        <div class="caption">
          <strong><%= post_image.user.name %></strong> <%= post_image.caption %><br>
          <i class="far fa-comment"></i>

          <%= form_for [post_image, @post_comment] do |f| %>
            <%= f.text_area :comment, class: "form-control", placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20" %>
          <% end %>

          <h4><%= post_image.post_comments.count %>件のコメント</h4>
          <% post_image.post_comments.each do |post_comment| %>
            <div>
              <a href="#" class="link-author"><%= post_comment.user.name %></a>
              <%= post_comment.comment %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
