<p id="notice"><%= notice %></p>

<div class="flex">
  <div class="post-header">
    <div class="username-location">
      <strong><%= @post_image.user.name %></strong><br>
      <span class="glyphicon glyphicon-map-marker"></span> <%= @post_image.location %>

      <%= link_to (@post_image) do %>
        <i class="fas fa-ellipsis-h option-dot"></i>
      <% end %>
    </div>
  </div>

  <div class="posted-content">
    <%= attachment_image_tag @post_image, :image, :fill, 598, 598 %>
  </div>

  <div class="caption">
    <strong><%= @post_image.user.name %></strong> <%= @post_image.caption %><br>
    <i class="far fa-comment"></i>
    <h4><%= @post_image.post_comments.count %>件のコメント</h4>
    <% @post_image.post_comments.each do |post_comment| %>
      <div>
        <a href="#" class="link-author"><%= post_comment.user.name %></a>
        <%= post_comment.comment %>
      </div>
    <% end %>
    <p>
      <% if @post_image.user == current_user %>
        <%= link_to 'Edit', edit_post_image_path(@post_image) %> |
        <%= link_to 'Destroy', post_image_path(@post_image), method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Back', post_images_path %>
      <% end %>
    </p>
  </div>
</div>



