<!DOCTYPE html>
<html>
  <head>
    <title>Clonegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-left">
            <h2>Clonegram</h2>
          </div>

          <div class="navbar-right">
            <div id="sidebar">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to "HOME", post_images_path, class:"glyphicon glyphicon-home" %>
                </li>
                <li>
                  <!-- 未設定 -->
                  <h3 class="glyphicon glyphicon-time"></h3>
                </li>
                <li>
                  <!-- 未設定 -->
                  <h3 class="glyphicon glyphicon-heart""></h3>
                </li>
                <li>
                  <!-- 未設定 -->
                  <h3 class="glyphicon glyphicon-user"></h3>
                </li>
                <li>
                  <%= link_to ' logout', destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out" %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
