<!DOCTYPE html>
<html>
  <head>
    <title>Clonegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ef1a52193c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar-default navbar-fixed-top", style="background-color:white;">
        <div class="container">
          <div class="navbar-left">
            <h2>Clonegram</h2>
          </div>

          <div class="navbar-right">
            <div id="sidebar">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to (post_images_path) do %>
                    <span class="glyphicon glyphicon-home", style="font-size: 27px;"></span>
                  <% end %>
                </li>
                <li>
                  <!-- 未設定 -->
                  <h3 class="glyphicon glyphicon-time"></h3>
                </li>
                <li>
                  <!-- 未設定 -->
                  <h3 class="glyphicon glyphicon-heart""></h3>
                </li>
                <li>
                  <%= link_to (user_path(current_user.id)) do %>
                    <span class="glyphicon glyphicon-user", style="font-size: 27px"></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to (destroy_user_session_path), method: :delete do %>
                    <span class="glyphicon glyphicon-log-out", style="font-size: 27px;"></span>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
